body{
text-align: center;

}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row-reverse;
  
}
#box1{
    background-color: red;
}
#box2{
    background-color: gray;
}
#box3{
    background-color: green;
}
#box4{
    background-color: blue;
}
#box5{
    background-color: pink;
}